@import '../variables';

.item-block {
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100%; 
  transition: all .2s ease-in-out;

  &__image {
    width: 90%;
    align-self: center;
    cursor: pointer;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
    margin-top: auto;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 8px;
        flex: 1 1 33.333%;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  &:hover {
    transform: scale(1.05);
  }
}
